[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
starlette = "*"
python-dotenv = "*"
pydantic = "*"
psycopg2-binary = "*"
contextvars = "*"

[dev-packages]

[requires]
python_version = "3.9"
